<header>
  <h2>create recipe.</h2>
</header>
<div class="create-recipe-container">
  {{! the btn will post everything included below into the content card; renders recipe card w/ info }}
  <form class="new-recipe-form" action="/api/recipe" method="POST">
    {{! title }}
    <label for="recipe_title">
      title:
    </label>
    <br />
    <textarea id="title" name="title" rows="2" cols="30">{{title}}</textarea>
    <br />
    {{! ingredients }}
    <label for="ingredients">
      ingredients:
    </label>
    <br />
    <textarea
      id="ingredients"
      name="ingredients"
      rows="6"
      cols="30"
    >{{ingredients}}</textarea>
    <br />
    {{! instructions }}
    <label for="instructions">
      instructions:
    </label>
    <br />
    <textarea
      id="instructions"
      name="instructions"
      rows="6"
      cols="30"
    >{{instructions}}</textarea>
    <br />
    {{! notes }}
    <label for="note">
      notes:
    </label>
    <br />
    <textarea id="note" name="note" rows="4" cols="30">{{note}}</textarea>
    <br />
    {{! source }}
    <label for="source">
      source:
    </label>
    <br />
    <textarea id="source" name="source" rows="2" cols="30">{{source}}</textarea>
    <br />
    <button type="submit" value="create" id="button">
      add recipe to collection.
    </button>
  </form>
</div>